[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mapcoloniesjsonlogger = "==1.0.0"
osmeterium = "==0.0.1"
pause = "==0.3"

[dev-packages]

[requires]
python_version = "3.6"
